// Тип шрифта
@font-family: "Roboto", "Arial", sans-serif;

// Размеры шрифтов
@fs-normal: 20px;

// Начертания шрифтов
@fw-normal: 400;
@fw-bold: 500;

// Line-height
@lh-normal: 28px;

// Цвет тосновного текста
@text-color: #343434;

// Фоновые цвета
@bg-color: #E5E5E5;
@text-bg-color: #ffffff;

// Брекпоинты
@breakpoint-mobile: 320px;
@breakpoint-tablet: 660px;
@breakpoint-desktop: 960px;

// Кнопка
@btn-color: #2988F8;
@btn-hover-color: #297EE1;
@btn-click-color: #2472CE;
