@font-face {
    font-family: "Graphik LCG";
    src: url("fonts/GraphikLCG-Black.woff") format (woff),
        url("fonts/GraphikLCG-Medium.woff") format (woff),
        url("fonts/GraphikLCG-Regular.woff") format (woff);
}

html {
    background-color: #fafafa;
}

body {
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    color: #202020;
    font-family: "Graphik LCG";
    font-size: 80px;
    font-weight: 900;
}

.main-text {
    color: #202020;
    font-family: "Graphik LCG";
    font-size: 20px;
}
